
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f0e5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.image {
  width: 8rem;
}

.recipe {
  font-size: 0.9rem;
  font-family: 'Chivo', sans-serif;
  cursor: pointer;
}
.icon-color {
  color: #ff5e62;
}

.bookmarks {
  font-size: 0.9rem;
  font-family: 'Chivo', sans-serif;
  margin-left: 0.4rem;
  cursor: pointer;
}

.recipe-book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
}